body{
  background-color: #FCF7F8;
  color:#be0010fa;
}
h1{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
}

.container {
  align-items: center;
  justify-content: center;
  border: 0px solid white;
  width:30%;
  margin-top: 5rem;
}



input {
  width:100% !important;
  height: 100%;
  border-color: #be0010fa !important;
}

input:focus {
  outline: none;
}

label {
  color: #be0010fa !important;
}

input:focus + label {
  color: #be0010fa;
  font-weight: 500;
}

button {
width: 100%;
height: 60%;
}

.password {
  width:104% !important;
}


.btn-color {
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)
  

}
.btn-color {

 text-align: center;
 text-transform: uppercase;
 transition: 0.5s;
 background-size: 200% auto;
 color: white;            
 box-shadow: 0 0 20px #eee;
 border-radius: 10px;
 display: block;
}

.btn-color:hover {
 background-position: right center; 
 color: #fff;
 text-decoration: none;
}
