body {
  background-color: #fcfcfc;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.add-user {
  border: 0px solid black;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

.view-user {
  border: 0px solid black;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}